.news {
  overflow: hidden;
  padding: 48px 80px 56px 80px;
  position: relative;
  background: #f7f7f7;

  .slick-slider {
    .slick-track {
      display: flex;

      .slick-slide {
        margin-right: 16px;
      }
    }
    .slick-dots {
      opacity: 0;
      pointer-events: none;
    }
  }

  .custom-dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 48px;
    right: 80px;

    .custom-dots {
      display: flex;
      justify-content: center;
      gap: 8px;

      .custom-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.active {
          background-color: #000;
        }

        &:hover {
          background-color: #888;
        }
      }
    }
    .custom-arrow {
      cursor: pointer;
      &.disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__mobile {
    &__title {
      display: none;
    }
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    border: none;
    outline: none;
    &__image {
      background: #f7f7f7;
      padding: 10px;
      width: 100%;
      margin-bottom: 4px;
    }
    &__text {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 18.78px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      &.title {
        font-size: 22px;
        font-weight: 400;
        line-height: 38.13px;
        color: #1d1d1d;
      }

      &.subtitle {
        font-size: 16px;
        line-height: 21.79px;
        color: #8a8a8a;
      }

      &.cta {
        font-family: Raleway;
        line-height: 18.78px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        color: #1d1d1d;
      }
    }
  }

  @media (max-width: 910px) {
    padding: 32px 16px 32px 16px;
    gap: 24px;

    .news {
      &__title {
        display: none;
      }
      &__item {
        &__text {
          &.cta {
            text-decoration-line: none;
          }
          &.title {
            font-size: 16px;
          }
          &.subtitle {
            font-size: 12px;
          }
        }
      }
      &__mobile {
        &__title {
          display: block;
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.79px;
            color: #1d1d1d;
            margin-bottom: 5px;
          }
          span {
            font-size: 12px;
            font-style: italic;
            font-weight: 300;
            line-height: 16.34px;
            color: #8a8a8a;
            margin-bottom: 5px;
          }
        }
      }
    }

    .custom-dots-container {
      bottom: 30px;
      right: 30px;
      top: unset;

      .custom-arrow {
        display: none;
      }
    }
  }
}
